@page
@model WebAppUI.Pages.ResultModel
@{
    string Result = @String.Join(String.Empty, @Model.Result);
}
<div>
    <h1 class="h1 text-center mt-2">@Model.Calculator.Value1 @Model.Calculator.Operation @Model.Calculator.Value2 = @Result</h1>
    <table class="mx-auto table-bordered text-center mt-2">
        <tbody class="p-2">
            <tr>
                @if (Model.Calculator.Operation == '+')
                {
                    <th rowspan="4">+</th>
                }
                else if (Model.Calculator.Operation == '-')
                {
                    <th rowspan="4">-</th>
                }
            </tr>
            @if (Model.RemainderSumm.Count > 0)
            {
                <tr>
                    @for (int i = Model.MaxValue; i > 0; i--)
                    {
                        @if (Model.RemainderSumm.Contains(i))
                        {
                            <td class="p-0" width="20px">
                                <small class="text-danger">1</small>
                            </td>
                        }
                        else
                        {
                            <td class="p-0" width="20px"></td>
                        }
                    }
                </tr>
            }
            @if (Model.RemainderSubtraction.Count > 0)
            {
                <tr>
                    @for (int i = Model.MaxValue; i > 0; i--)
                    {
                        @if (Model.RemainderSubtraction.Keys.Contains(i))
                        {
                            <td class="p-0" width="20px">
                                <small class="text-danger">@Model.RemainderSubtraction[i]</small>
                            </td>
                        }
                        else
                        {
                            <td class="p-0" width="20px"></td>
                        }
                    }
                </tr>
            }
            <tr>
                @for (int i = Model.Value1.Count; i < Model.MaxValue; i++)
                {
                    <td class="p-0" width="20px"></td>
                }
                @for (int i = 0; i < Model.Value1.Count; i++)
                {
                    <td class="p-0" width="20px">@Model.Value1[i]</td>
                }
            </tr>
            <tr>
                @for (int i = Model.Value2.Count; i < Model.MaxValue; i++)
                {
                    <td class="p-0" width="20px"></td>
                }
                @for (int i = 0; i < Model.Value2.Count; i++)
                {
                    <td class="p-0" width="20px">@Model.Value2[i]</td>
                }
            </tr>
            <tr height="2px"></tr>
            <tr>
                @if (!@Model.IsPositive)
                {
                    <th class="p-0" width="20px">-</th>
                }
                else
                {
                    <th class="p-0" width="20px"></th>
                }
                @for (int i = Model.Result.Count; i < Model.MaxValue; i++)
                {
                    <td class="p-0" width="20px"></td>
                }
                @for (int i = 0; i < Model.Result.Count; i++)
                {
                    <td class="p-0 text-success fw-bold" width="20px">@Model.Result[i]</td>
                }
            </tr>
        </tbody>
    </table>
    <a class="mt-5 btn btn-primary" asp-page="/Index">Сalculate again</a>
</div>
